<ion-content>
  <ion-list no-lines>
          <ion-item class="received" no-padding>
                  <ion-avatar item-left>
                          <img src="assets/images/avatars/a10.jpg">
                  </ion-avatar>
                  <p item-left class="message-content">what are you up to?</p>
          </ion-item>
          <ion-item class="sent">
                  <p class="message-content" item-right>not much really </p>
          </ion-item>
          <ion-item class="received">
                  <ion-avatar item-left>
                          <img src="assets/images/avatars/a10.jpg">
                  </ion-avatar>
                  <p item-left class="message-content">would you like to check out the hunger games?</p>
          </ion-item>
          <ion-item class="received">
                  <ion-avatar item-left>
                          <img src="assets/images/avatars/a10.jpg">
                  </ion-avatar>
                  <p item-left class="message-content">it's showing tonight</p>
          </ion-item>
          <ion-item *ngFor="let message of messages2">
                  {{ message }}
          </ion-item>
          <ion-item class="session-start">
                  <p text-center>March 14th, 9:04pm</p>
          </ion-item>
          <ion-item class="sent">
                  <p class="message-content" item-right>okay</p>
          </ion-item>
  </ion-list>
</ion-content>