<ion-header *ngIf="view != 'home'" class="ionToolbarHeader">
  <ion-toolbar class="ionToolbarHeader">
    <ion-button slot="start" fill="clear" (click)="atras()">
      <ion-icon color="light" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-text color="dark" *ngIf="view == 'perfil'">
      <p>MI PERFIL</p>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" *ngIf="view == 'home'">
  <br>

  <h1 class="titulo">
    Bienvenido
  </h1>
  <h1 class="titulo">
    {{ dataUser.nombre }} {{ dataUser.apellido }}!
  </h1>
  <br>
  <div class="ion-text-center tarjeta">
    <p>
      <ion-chip class="chipPerfil" color="light">
        <ion-avatar class="avatarPerfil">
          <img [src]="dataUser.foto || './assets/perfil.png'" />
        </ion-avatar>
        <ion-label class="colorBlanco">{{ dataUser.nombre }}</ion-label>
      </ion-chip>
    </p>
    <p>Tu estado actual</p>
    <h4 class="barraEstado">
      <span *ngIf="dataUser.estadoCuenta" class="colorVerde">ACTIVO</span>
      <span *ngIf="!dataUser.estadoCuenta" class="colorRojo">INACTIVO</span>
    </h4>
    <ion-button class="ionButton" (click)="cambiarEstado()" [disabled]="disableEstado">
      <span *ngIf="!dataUser.estadoCuenta">ACTIVARME</span>
      <span *ngIf="dataUser.estadoCuenta">DESACTIVARME</span>
    </ion-button>
    <br>
  </div>
  <div class="ion-text-center">
    <br>
    <ion-button class="ionButton" *ngIf="dataUser.estadoCuenta" (click)="verMandados()">
      MANDADOS DISPONIBLES
    </ion-button>
  </div>

</ion-content>

<ion-content fullscreen class="ion-padding" *ngIf="view == 'mandados'">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="altoCars">
    <ion-card-header class="colorTitulo">
      <div class="ion-text-center">
        <ion-card-title color="medium" class="textInf">MANDADOS DISPONIBLES</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-list>

    <ion-item *ngFor="let item of listRow" [ngClass]="{colorActivos: item.estado == 3}">
      <ion-label>
        <ion-text color="dark">
          <h2>MANDADO DE</h2>
          <h2>{{ item['usuario'].nombre }} {{ item['usuario'].apellido }}</h2>
        </ion-text>
      </ion-label>
      <ion-button class="ionButton" (click)="openMapa( item )" slot="end">
        VER
      </ion-button>
    </ion-item>
  </ion-list>
  
  <div class="ion-text-center" *ngIf="listRow.length == 0">
    <ion-text colo="dark">
      <span>Lista Vacia</span>
    </ion-text>
  </div>

  <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData( $event )"
                        >
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-content *ngIf="view == 'chat'" fullscreen class="ion-padding">
  <ion-card class="altoCars">
    <ion-card-header class="colorTitulo">
      <div class="ion-text-center">
        <ion-card-title color="medium" class="textInf">BANDEJA DE MENSAJES</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item *ngFor="let item of listRow2" [ngClass]="{colorNewMensaje: !item.visto2}">
      <ion-avatar slot="start">
        <img *ngIf="dataUser.id != item.reseptor.id" [src]="item['reseptor']?.foto || './assets/perfil.png'">
        <img *ngIf="dataUser.id == item.reseptor.id" [src]="item['emisor']?.foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark">
          <h2 *ngIf="dataUser.id != item.reseptor.id">{{ item['reseptor'].nombre }}</h2>
          <h2 *ngIf="dataUser.id == item.reseptor.id">{{ item['emisor'].nombre }}</h2>
        </ion-text>
      </ion-label>
      <ion-button class="ionButton" (click)="openChat( item )" slot="end">
        ABRIR
      </ion-button>
    </ion-item>
  </ion-list>
  
  <div class="ion-text-center" *ngIf="listRow2.length == 0">
    <ion-text colo="dark">
      <span>Lista Vacia</span>
    </ion-text>
  </div>

  <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData( $event )"
                        >
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-content fullscreen class="ion-padding" *ngIf="view == 'perfil'">
  <div class="ion-text-center">
    <p>
      <ion-chip class="chipPerfil ion-chipsHeader">
        <ion-avatar class="avatarPerfil">
          <img [src]="dataUser.foto || './assets/perfil.png'" />
        </ion-avatar>
        <ion-label>{{ dataUser.nombre }} {{ dataUser.apellido }}</ion-label>
      </ion-chip>
    </p>
  </div>

  <ion-list>
    <ion-item>
      <ion-input class="ion-color-lavel inputColor" placeholder="email" [(ngModel)]="dataUser.email" required type="text"></ion-input>
      <ion-icon slot="end" name="eyedrop-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input class="ion-color-lavel inputColor" placeholder="celular" [(ngModel)]="dataUser.celular" required type="text"></ion-input>
      <ion-icon slot="end" name="eyedrop-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" class="inputColor" placeholder="direccion" cols="10" [(ngModel)]="dataUser.direccion"></ion-textarea>
      <ion-icon slot="end" name="eyedrop-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <br><br><br>
    <ion-button class="ionButton" (click)="updateUser()">
      ACTUALIZAR
    </ion-button>
    <ion-button class="ionButton" (click)="cerrar_seccion()">
      CERRAR SESIÓN
    </ion-button>
  </div>
</ion-content>

<ion-footer class="ion-padding ionFooter">
  <ion-segment color="tertiary" value="favorite" (ionChange)="cambioVista( $event )"> 
    <ion-segment-button value="chat">
      <ion-label class="ionMenu">
        <ion-icon name="chatbox-ellipses-outline" color="light">
        </ion-icon>
        <ion-badge class="ionBadge" *ngIf="contadorChat" color="danger">{{ ( contadorChat || 0 ) }}</ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="perfil">
      <ion-label class="ionMenu">
        <ion-icon name="person-outline" color="light"></ion-icon>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>