.colorText {
    color: white;
}
.label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label {
    color: grey;
    //font-size: 45px;
  }
  
  .clasificacion {
    direction: rtl;
    text-align: left;   
    unicode-bidi: bidi-override;
  }
  
  .label:hover,
  .label:hover ~ .label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ .label {
    color: orange;
  }
  .checkcolor {
    color: orange;
  }

.altoCars {
    height: 3pc !important;
}

.colorTitulo{
    background: #dedede !important;
}

.chipPerfil{
    height: 55px !important;
    width: 59% !important;
}

.avatarPerfil{
    height: 41px  !important;
    width: 22% !important;
    margin-left: 6px !important;
}

.titulo {
  font-size: 2.3pc;
}

.tarjeta {
  border: 1px solid black;
  border-radius: 25px;
  margin: 9px;
  background: #c7c7c7;
  padding-bottom: 9px;
}

.barraEstado{
  background: black;
  padding: 13px;
  font-size: 23px;
}

.colorVerde{
  color: green;
}

.colorRojo{
  color: red;
}

.colorBlanco{
  color: white;
  font-size: 17px
}

.colorActivos {
  --background: #ffff9f;
}

.colorNewMensaje {
  --background: #c7f9db;
}