<ion-list>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="100">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none" *ngFor="let item of listRow">
    <ion-list>
      <ion-item line="none">
        <div slot="start">
          <img class="imgP" src="./assets/productos/cupon.png">
        </div>
        <ion-item lines="none">
          <h4>{{ item.titulo }}</h4>
        </ion-item>
        <ion-icon name="gift-outline"></ion-icon>
      </ion-item>
      <ion-item line="none">
        <ion-text color="dark">
          <p>{{ item.subtitulo }}</p>
        </ion-text>
      </ion-item>
      <ion-item line="none">
        <ion-text color="danger" slot="start">
          <p (click)="item.check=!item.check">Ver reglas <ion-icon name="chevron-down-outline"></ion-icon></p>
          <span *ngIf="item.check" class="colorDark">
            <p> - Valor del cupón: ${{ item.valorCupon }}</p>
            <p> - Pedido min: ${{ item.valorPedido }}</p>
            <p> - Uso en restaurante : ${{ item.usoRestaurant }}</p>
            <p> - Cupones : ${{ item.cupones }}</p>
            <p> - ${{ item.valido }}</p>
            <p> - Disponible hasta las: ${{ item.disponible }}</p>
          </span>
        </ion-text>
        <ion-text color="dark" slot="end" *ngIf="!item.check">
          <p>Expiró en {{ item.expira | date }}</p>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="time-outline" slot="start"></ion-icon> 
        <ion-text color="dark">
          <h6>{{ item.expirtaDes }}</h6>
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-list>