<ion-header class="ionToolbarHeaderChat">
  <ion-toolbar class="ionToolbarHeaderChat">
    <ion-button slot="start" fill="clear" (click)="exit()" color="light">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-label class="ion-color-lavel label textLavel" position="stacked">¿Nombre del cliente? <ion-text color="danger">*</ion-text></ion-label>
          <ion-input class="ionColorInput" [(ngModel)]="data.nombreCliente" required type="text"></ion-input>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-label class="ion-color-lavel label textLavel" position="stacked">¿Numero del cliente? <ion-text color="danger">*</ion-text></ion-label>
          <ion-input class="ionColorInput" [(ngModel)]="data.numeroCliente" required type="number"></ion-input>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-label class="ion-color-lavel label textLavel" position="stacked">¿Dirección o lugar de entrega? <ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea class="ionColorInput" rows="6" cols="20" placeholder="Danos la mayor cantidad de datos" [(ngModel)]="data.origentexto"></ion-textarea>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-label class="ion-color-lavel label textLavel" position="stacked">¿MONTO A COBRAR? <ion-text color="danger">*</ion-text></ion-label>
          <ion-input class="ionColorInput" [(ngModel)]="data.ofreceCliente" required (focusout)="BlurNumber()" (change)="formatoNumber()" (click)="estadoNumber(true)" type="text"></ion-input>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-label class="ion-color-lavel label textLavel" position="stacked">¿Datos extra? <ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea class="ionColorInput" rows="4" cols="20" placeholder="Danos la mayor cantidad de datos" [(ngModel)]="data.descripcion"></ion-textarea>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides *ngIf="vista == 'completado'" [options]="sliderOpts">
    <ion-slide>
      <h2>MANDADO CREADO EXITOSO</h2>
    </ion-slide>
  </ion-slides>


</ion-content>
<ion-footer>
  <ion-button expand="full" [disabled]="btnDisabled" class="ionButton" (click)="submitMandado()">
    <span *ngIf="!data.id">AGREGAR</span>
    <span *ngIf="data.id">ACTUALIZAR</span>
  </ion-button>
</ion-footer>

