.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .has-card-footer {
    padding-bottom: 15px;
  }

  .altoCars {
    height: 3pc  !important;
}

.colorTitulo{
    background: #dedede !important;
}

.chipPerfil{
    height: 55px !important;
    width: 59% !important;
}

.avatarPerfil{
    height: 50px !important;
    width: 25% !important;
    margin-left: 6px !important;
}