<ion-header class="ionToolbarHeaderChat">
  <ion-toolbar class="ionToolbarHeaderChat">
    <ion-toolbar class="ionToolbarHeaderChat">
      <ion-button slot="start" fill="clear" (click)="exit()" color="light">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div *ngIf="vista == 'cliente'">
        <div class="ion-text-center" *ngIf="data.ordenes.estado != 0">
          <p>EJECUTANDO MANDADO</p>
        </div>
        <div class="ion-text-center" *ngIf="data.ordenes.estado == 0">
          <p>COORDINANDO DE DETALLES CON EL DRIVER:</p>
        </div>
      </div>
      <div *ngIf="vista == 'drive'">
        <div class="ion-text-center">
          <p>COORDINANDO DE DETALLES CON EL CLIENTE:</p>
        </div>
      </div>
    </ion-toolbar>
    <div class="ion-text-center">
      <p>
        <ion-chip class="chipPerfil ion-chipsHeader">
          <ion-avatar class="avatarPerfil">
            <img
              [src]="chatDe.foto || './assets/perfil.png'" />
          </ion-avatar>
          <ion-text color="light">
            <h5>{{ chatDe.nombre }} {{ chatDe.apellido }}</h5>
          </ion-text>
        </ion-chip>
      </p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="vista == 'cliente'">
    <div class="ion-text-center colorTitulo border" *ngIf="data.ordenes.estado == 0">
      <ion-text color="light">
        <span>ESTATUS DEL ENVIO</span>
      </ion-text>
      <ion-text class="colorRed" (click)="confirmar()">
        <h4>PENDIENTE DE ACEPTACION</h4>
      </ion-text>
      <ion-text color="success" *ngIf="listOfertando.id">
        <h4>DRIVE OFERTA: {{ ( data['ofertando']?.ofrece || 0 ).toLocaleString("en-US", { style: 'currency', currency: 'USD' }) }} USD</h4>
      </ion-text>
    </div>
    <ion-toolbar *ngIf="data.ordenes.estado != 0" class="ionToolbarGris">
      <div class="ion-text-center">
        <h5 class="colorBlanco" >ESTATUS DEL ENVIO <span *ngIf="data.ordenes.estado == 3" class="colorYellow">PROCESO</span> 
          <span *ngIf="data.ordenes.estado == 2" class="colorGrend">FINALIZADO</span>
        </h5>
        <ion-text color="success" *ngIf="listOfertando.id">
          <h4>DRIVE OFERTA: {{ ( data['ofertando']?.ofrece || 0 ).toLocaleString("en-US", { style: 'currency', currency: 'USD' }) }} USD</h4>
        </ion-text>
        <ion-button class="ionButton" *ngIf="data.ordenes.estado != 2" (click)="FinalizarOrden()" [disabled]="disableBtnConfirmar">
          CONFIRMAR Y FINALIZAR
        </ion-button>
      </div>
    </ion-toolbar>
    <br>
    <div class="ion-text-center" *ngIf="data.ordenes.estado != 0">
      <ion-button class="ionButton" (click)="openMapaDrive()">
        VER HUBICACION DE DRIVER
      </ion-button>
    </div>
  </div>
  <div *ngIf="vista == 'drive'">
    <div class="ion-text-center colorTitulo border">
      <ion-text color="light">
        <span>ESTATUS DEL MANDADO</span>
      </ion-text>
      <ion-text class="colorRed" *ngIf="data.ordenes.estado == 0">
        <h4>PENDIENTE DE ACEPTACION</h4>
      </ion-text>
      <ion-text class="colorRed" *ngIf="data.ordenes.estado == 1">
        <h4>ELIMINADO</h4>
      </ion-text>
      <ion-text class="colorGrend" *ngIf="data.ordenes.estado == 2">
        <h4>COMPLETADO</h4>
      </ion-text>
      <ion-text class="colorYellow" *ngIf="data.ordenes.estado == 3"> 
        <h4>ENPROCESO</h4>
      </ion-text>
      <ion-text color="success" *ngIf="listOfertando.id">
        <h4>OFERTASTE: {{ ( listOfertando.ofrece || 0 ).toLocaleString("en-US", { style: 'currency', currency: 'USD' }) }} USD</h4>
      </ion-text>
    </div>
    <ion-toolbar *ngIf="data.estado == 0 && ( data.ordenes.estado != 3 && data.ordenes.estado != 2 && data.ordenes.estado != 1)">
      <div class="ion-text-center">
        <ion-button class="ionButton" (click)="ofertandoCliente()" [disabled]="disableBtnConfirmar">
          CONFIRMAR PRECIO
        </ion-button>
      </div>
    </ion-toolbar>
  </div>
  <br>
  <ion-card class="altoCars has-card-footer">
    <ion-card-header class="colorTitulo">
      <div class="ion-text-center">
        <ion-card-title color="medium">BANDEJA DE MENSAJES</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <ion-list>

      <ion-item *ngFor="let item of listRow">
        <ion-avatar slot="start">
          <img [src]="item['emisor']?.foto || './assets/perfil.png'">
        </ion-avatar>
        <ion-text color="dark">
          <h5>{{ item['text'] }}</h5>
        </ion-text>
      </ion-item>
    </ion-list>
  </div>

  <div class="ion-text-center" *ngIf="listRow.length == 0">
    <ion-text colo="dark">
      <span>Lista Vacia</span>
    </ion-text>
  </div>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-input class="ion-color-lavel" [(ngModel)]="mensajeTxt" placeholder="Escribe un mensaje"
        (change)="submitChat()" required type="text"></ion-input>
    </ion-col>
  </ion-row>
</ion-footer>