.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .has-card-footer {
    padding-bottom: 15px;
  }

  .altoCars {
    height: 3pc  !important;
}

.colorTitulo{
    background: #dedede !important;
}

.chipPerfil{
    height: 55px !important;
    width: 59% !important;
    background-color: #3880ff;
}

.avatarPerfil{
    height: 47px !important;
    width: 22% !important;
    margin-left: 6px !important;
}

.colorGrend{
  color: green;
}
.colorRed {
  color: red;
}
.colorYellow{
  color: yellow;
}

.border{
  border-radius: 5px;
  height: 6pc;
  padding: 10px;
}