<ion-header *ngIf="view != 'home'" class="ionToolbarHeader">
  <ion-toolbar class="ionToolbarHeader">
    <ion-button slot="start" fill="clear" (click)="atras()">
      <ion-icon color="light" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-text color="dark" *ngIf="view == 'perfil'">
      <p>MI PERFIL</p>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="view == 'home'">
  <ion-toolbar class="ionToolbar">
    <ion-text color="dark">
      <h1><strong>BIENVENIDO USUARIO</strong></h1>
    </ion-text>
  </ion-toolbar>
  <br><br>

  <ion-text color="dark" (click)="openInformacion()">
    <h4>Pasos a seguir para pedir un mandado</h4>
  </ion-text>
  <br><br><br><br><br><br><br>
  <div class="ion-text-center">
    <ion-button size="large" class="ionButton textInf" (click)="openSolicitar( false )">
      SOLICITAR UN MANDADO
    </ion-button>
    <ion-button class="ionButton textInf" (click)="openMandadosActivos()">
      VER MIS MANDADOS ACTIVOS
    </ion-button>
    <ion-button class="ionButton textInf" (click)="openMandadosEmpresarialActivos()">
      MANDADO EMPRESARIAL
    </ion-button>
  </div>

</ion-content>

<ion-content class="ion-padding" *ngIf="view == 'mandados'">
  <ion-card class="altoCars">
    <ion-card-header class="colorTitulo">
      <div class="ion-text-center">
        <ion-card-title color="medium" class="textInf">MIS MANDADOS ACTIVOS</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-list>

    <ion-item *ngFor="let item of listMandadosActivos" [ngClass]="{colorActivos: item.estado == 3}">
      <ion-label>
        <ion-text color="dark">
          <h2>MANDADO DE</h2>
          <h2>{{ item['usuario'].nombre }} {{ item['usuario'].apellido }}</h2>
        </ion-text>
      </ion-label>
      <ion-button class="ionButton" (click)="openSolicitar( item )" slot="end">
        VER
      </ion-button>
      <ion-button color="danger" [disabled]="btnDisabled" (click)="cancelarMandado( item )" slot="end">
        CANCELAR
      </ion-button>
    </ion-item>
  </ion-list>

  <div class="ion-text-center" *ngIf="listMandadosActivos.length == 0">
    <ion-text colo="dark">
      <span>Lista Vacia</span>
    </ion-text>
  </div>
</ion-content>

<ion-content class="ion-padding" *ngIf="view == 'mandadosEmpresarial'">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-card class="altoCars">
    <ion-card-header class="colorTitulo">
      <div class="ion-text-center">
        <ion-card-title color="medium" class="textInf">MANDADOS EMPRESARIALES ACTIVOS</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-list>

    <ion-item *ngFor="let item of listMandadosEmpreasaActivos" [ngClass]="{colorActivos: item.estado == 3, colorActivosCompletados: item.estado == 2}">
      <ion-label>
        <ion-text color="dark">
          <h2>MANDADO DE</h2>
          <h2>{{ item['usuario'].nombre }} {{ item['usuario'].apellido }}</h2>
        </ion-text>
      </ion-label>
      <ion-label slot="end">
        <ion-button class="ionButton" (click)="openEmpresarial( item )">
          EDITAR
        </ion-button>
        <ion-button class="ionButton" (click)="openEmpresarialVer( item )" [disabled]="btnDisabled">
          VER
        </ion-button>
      </ion-label>
      <!-- <ion-button color="danger" [disabled]="btnDisabled" (click)="cancelarMandado( item )" slot="end">
        CANCELAR
      </ion-button> -->
    </ion-item>
  </ion-list>

  <div class="ion-text-center" *ngIf="listMandadosEmpreasaActivos.length == 0">
    <ion-text colo="dark">
      <span>Lista Vacia</span>
    </ion-text>
  </div>
  
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-footer class="abajoButtons">
    <ion-grid>
      <ion-col>
        <div class="ion-text-center">
          <ion-button class="ionButton" (click)="openEmpresarial( false )">
            AGREGAR
          </ion-button>
        </div>
      </ion-col>
    </ion-grid>
  </ion-footer>
</ion-content>

<ion-content class="ion-padding" *ngIf="view == 'chat'">
  <ion-card class="altoCars">
    <ion-card-header class="colorTitulo">
      <div class="ion-text-center">
        <ion-card-title color="medium" class="textInf">BANDEJA DE MENSAJES</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item *ngFor="let item of listRow" [ngClass]="{colorNewMensaje: !item.visto}">
      <ion-avatar slot="start">
        <img *ngIf="dataUser.id != item.reseptor.id" [src]="item['reseptor']?.foto || './assets/perfil.png'">
        <img *ngIf="dataUser.id == item.reseptor.id" [src]="item['emisor']?.foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark">
          <h2 *ngIf="dataUser.id != item.reseptor.id">{{ item['reseptor'].nombre }}</h2>
          <h2 *ngIf="dataUser.id == item.reseptor.id">{{ item['emisor'].nombre }}</h2>
        </ion-text>
      </ion-label>
      <ion-button class="ionButton" (click)="openChat( item )" slot="end">
        ABRIR
      </ion-button>
    </ion-item>
  </ion-list>

  <div class="ion-text-center" *ngIf="listRow.length == 0">
    <ion-text colo="dark">
      <span>Lista Vacia</span>
    </ion-text>
  </div>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-content class="ion-padding" *ngIf="view == 'perfil'">
  <div class="ion-text-center">
    <p>
      <ion-chip class="chipPerfil ion-chipsHeader">
        <ion-avatar class="avatarPerfil">
          <img [src]="dataUser.foto || './assets/perfil.png'" />
        </ion-avatar>
        <ion-label>{{ dataUser.nombre }} {{ dataUser.apellido }}</ion-label>
      </ion-chip>
    </p>
  </div>

  <ion-list>
    <ion-item>
      <ion-input class="ion-color-lavel inputColor" placeholder="email" [(ngModel)]="dataUser.email" required
        type="text"></ion-input>
      <ion-icon slot="end" name="eyedrop-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input class="ion-color-lavel inputColor" placeholder="celular" [(ngModel)]="dataUser.celular" required
        type="text"></ion-input>
      <ion-icon slot="end" name="eyedrop-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" class="inputColor" placeholder="direccion" cols="10" [(ngModel)]="dataUser.direccion">
      </ion-textarea>
      <ion-icon slot="end" name="eyedrop-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <br><br><br>
    <ion-button class="ionButton" (click)="updateUser()">
      ACTUALIZAR
    </ion-button>
    <ion-button class="ionButton" (click)="cerrar_seccion()">
      CERRAR SESIÓN
    </ion-button>
  </div>
</ion-content>

<ion-content class="ion-padding" *ngIf="view == 'informacion'">
  <h3>Para solicitar un mandado nos debes de proporcionar estos datos:
    <br>
    1- ¿Qué diligencia haremos ? <br>
    2- ¿Cuáles son los lugares que visitaremos?
    <br>
    Una vez has llenado estos datos y mandas la solicitud un moticiclista aceptara tu mandado y se pondrá en contacto
    contigo.
    <br><br><br>
    ¿Cuánto cuesta el mandado ?
    <br>
    Esto depende de la distancia y el tiempo que tome hacer el mandado, sin embargo el precio normal es de $4.00 USD.
  </h3>
</ion-content>

<ion-footer class="ion-padding ionFooter">
  <ion-segment color="tertiary" value="favorite" (ionChange)="cambioVista( $event )">
    <ion-segment-button value="chat">
      <ion-label class="ionMenu">
        <ion-icon name="chatbox-ellipses-outline" color="light">
        </ion-icon>
        <ion-badge class="ionBadge" *ngIf="contadorChat" color="danger">{{ ( contadorChat || 0 ) }}</ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="perfil">
      <ion-label class="ionMenu">
        <ion-icon name="person-outline" color="light"></ion-icon>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>