<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-buttons>
    <ion-menu-button>
      <ion-icon class="padding_menu" size="large" name="menu"></ion-icon>
    </ion-menu-button>
  </ion-buttons>

  <ion-list detail *ngIf="listOfertas.length > 0">
    <ion-list-header>
      Notificaciones
    </ion-list-header>

    <ion-item *ngFor="let item of listOfertas">
      <ion-avatar slot="start">
        <img [src]="item.foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-text *ngIf="item.ofreceCliente" (click)="btnConductor(item)" color="dark">
        <ion-label>
          <p> {{ item['usuario']?.nombre | slice: 0: 20 }} </p>
          <p> Destino {{ item['titulo'] }} </p>
          <p> Tengo ${{ ( item['ofreceCliente'] || 0 ).toLocaleString(1) }} COP </p>
        </ion-label>
      </ion-text>
      <ion-text *ngIf="item.ofrece" (click)="btnCliente(item)" color="dark">
        <ion-label>
          <p> Conductor {{ item['usuario']?.nombre | slice: 0: 20 }} </p>
          <p> Te LLevo ${{ ( item['ofrece'] || 0 ).toLocaleString(1) }} COP </p>
        </ion-label>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-button slot="fixed" id="btnRefres" fill="clear" color="dark" (click)="resetInit()" *ngIf="!disabledInfo">
    <ion-icon name="refresh-circle-outline"></ion-icon>
  </ion-button>

  <div class="mapa" id="mapa"></div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="rolUser == 'usuario'">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="solicitar()">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="disabled">
  <ion-toolbar class="ion-padding toolbarFooter">
    <ion-input class="ion-color-lavel" [(ngModel)]="data.destino" placeholder="Destino" required type="text" (keyup)="getSearchDestinoMapbox()">
    </ion-input>
    <!-- <ion-searchbar debounce=500 (ionChange)="getSearchDestinoMapbox($event)" [value]="selectedAddress"></ion-searchbar> -->
    <div style="position: absolute; width: 100%; z-index: 999;">
      <ion-list lines="none" *ngIf="addresses.length > 0" class="height: 120px; overflow: scroll; overflow-x: hidden">
        <ion-item button *ngFor="let address of addresses" (click)="onSelect(address)">
          <ion-icon name="pin"></ion-icon>
          {{ address.place_name }}
        </ion-item>
      </ion-list>
    </div>
    <ion-input class="ion-color-lavel" [(ngModel)]="data.ofreces" [disabled]="disabledConfirm" placeholder="Cuanto ofreces" required type="text">
    </ion-input>
    <ion-input class="ion-color-lavel" [(ngModel)]="data.descripcion" placeholder="Descripcion" required type="text">
    </ion-input>
    <ion-button [disabled]="disableBtn" *ngIf="disabledOpt == 'orden'" color="primary" fill="clear" expand="full" (click)="btnOrdenar()" class="ion-padding ion-text-center">Ordenar</ion-button>
    <ion-button [disabled]="disableBtn" *ngIf="disabledOpt == 'conductor'" color="primary" fill="clear" expand="full" (click)="submitOfreciendo()" class="ion-padding ion-text-center">Responder</ion-button>
    <ion-button [disabled]="disableBtn" *ngIf="disabledOpt == 'cliente'" color="primary" fill="clear" expand="full" (click)="btnConfirn()" class="ion-padding ion-text-center">Confirmar Servicio</ion-button>
    <ion-button color="danger" fill="clear" expand="full" (click)="solicitar()" class="ion-padding ion-text-center">Cerrar</ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="disabledInfo">
  <ion-toolbar class="ion-padding">
    <ion-label>
      <p>Destino {{ infoCliente.titulo }} Costo ${{ ( infoCliente['idOfertando']?.ofrece || 0 ).toLocaleString(1) }} COP</p>
      <p>Numero de contacto +{{ infoCliente.usuario.indicativo }} ${{ infoCliente.usuario.celular }}</p>
    </ion-label>
    <ion-button [disabled]="disableBtnInfo" color="success" expand="full" (click)="finalizarServicio()" class="ion-padding ion-text-center">Finalizar servicio</ion-button>
  </ion-toolbar>
</ion-footer>