<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="padding_menu" size="large" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item *ngFor="let item of listRow">
      <ion-avatar slot="start">
        <img [src]="item['conductor']?.foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-label (click)="abrirEnlace( item )">
        <h2>Titulo: {{ item.titulo }}</h2>
        <ion-text color="dark">
          <p>{{ item.descripcion }}</p>
        </ion-text>
      </ion-label>
      <!-- <ion-button (click)="abrirEnlace( item )" slot="end" fill="clear">
        Abrir enlace
      </ion-button> -->
    </ion-item>
  </ion-list>
  
  <div class="ion-text-center" *ngIf="listRow.length == 0">
    <ion-text colo="dark">
      <span>Lista Vacia</span>
    </ion-text>
  </div>
  
  <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData( $event )"
                        >
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
