<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="exit()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Configuracion de busqueda</ion-title>
    <ion-button slot="end" fill="clear" (click)="guardarCambios()" [disabled]="disableBtnEditar">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Servicios de Carga</ion-label>
    <ion-toggle checked [(ngModel)]="cargaBolena" (click)="habilitarCarga()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Servicio a Domicilio</ion-label>
    <ion-toggle checked [(ngModel)]="domicilioBolena" (click)="habilitarDomicilio()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Estado ( Dispoble | Ocupada )</ion-label>
    <ion-toggle checked [(ngModel)]="estado" (click)="cambioEstado()"></ion-toggle>
  </ion-item>

</ion-content>