<ion-footer>
  <ion-toolbar *ngIf="countCarro.cantidad" class="carritoEdit" (click)="openCarrito()">
    <ion-icon slot="start" name="cart-outline"></ion-icon>
    <ion-badge class="estiloBad">{{ ( countCarro.cantidad || 0 ) }}</ion-badge>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center precioFormat">
            Ver Carrito
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p slot="end" class="precioFormat"> {{ countCarro.precio }} </p>
  </ion-toolbar>

  <ion-toolbar class="menuBottom">
    <ion-segment #tabs scrollable mode="md" color="primary" (ionChange)="cambioView( $event )">
      <ion-segment-button mode="md" class="textSegtman" [value]="item.titulo" *ngFor="let item of listMenu">
        <ion-icon color="dark" [name]="item.icon"></ion-icon>
        <ion-text color="dark">
          <ion-label class="titulo"> {{ item.titulo }}</ion-label>
        </ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-footer>