.subheader {
    font-size: 11px;
}

.titulo {
    font-size: 10px;
}

.carritoEdit{
    padding: 0 10px 0 10px;
    --background: red;
    color: white;
}

.estiloBad{
    position: absolute;
    background: red;
}