<ion-content>
  <ion-toolbar>
    <div class="ion-text-center">
      <h4>Ingrese su número de teléfono para iniciar sesión</h4>
    </div>
  </ion-toolbar>
  <ion-slides [options]="sliderOpts">
    <ion-slide>
      <div class="divPrincipal">
        <br>
        <div class="ion-text-center">
          <img src="./assets/login.jpg">
        </div>
        <br>
        <br>
        <ion-select *ngIf="!disablePass" interface="popover" [(ngModel)]="data.indicativo" class="anchos" placeholder="indicativo">
          <ion-select-option [value]="item.phone_code" *ngFor="let item of listIndicativos">{{ item.nombre }}
            +{{ item.phone_code }}</ion-select-option>
        </ion-select>
        <ion-input *ngIf="!disablePass" class="ion-color-lavel inputemail" [(ngModel)]="data.celular"
          placeholder="Numero de celular" required type="text" (change)="iniciar()"></ion-input>
        <ion-input *ngIf="disablePass" class="ion-color-lavel inputemail" [(ngModel)]="data.password"
          placeholder="Contraseña" required type="password" (change)="iniciar()"></ion-input>
        <br>
        <br>
        <ion-button color="success" (click)="iniciar()" expand="full">
          <span *ngIf="!disablePass">Comprobar Sesión</span>
          <span *ngIf="disablePass">Iniciar sesión</span>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-toolbar>
  <div class="ion-text-center">
    <ion-button color="success" [routerLink]="['/registro']">
      Registrarse
    </ion-button>
    <p>Al pulsar siguiente acepta los <a href="#" [routerLink]="['/terminos']">Términos y Condiciones y la politica de
      privacidad</a></p>
  </div>
</ion-toolbar>