<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-text color="dark">
        <h5>Horarios de domicilio <ion-icon name="chevron-down-outline"></ion-icon></h5>
      </ion-text>
      <ion-item>
        <p class="textInformacion" slot="start">{{ data.horarios.dias }}</p>
        <p class="textInformacion" >{{ data.horarios.hora }}</p>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-text color="dark">
        <h5>Paga en la app </h5>
      </ion-text>
      <ion-list>
        <ion-item>
          <ion-chip outline *ngFor="let item of data.horarios.listPagos">
            <ion-avatar>
              <img [src]="item.foto">
            </ion-avatar>
            <ion-label>{{ item.titulo }}</ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="12">
      <ion-text color="dark">
        <h5>Paga en la entrega </h5>
      </ion-text>
      <ion-list>
        <ion-item>
          <ion-chip outline *ngFor="let item of data.horarios.listPagosEntrega">
            <ion-avatar>
              <img [src]="item.foto">
            </ion-avatar>
            <ion-label>{{ item.titulo }}</ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="12">
      <ion-text color="dark">
        <p class="descrip">
          Full Domicilios es gratuito para los usuarios y todos los precios presentados en el menú son definidos
          por el restaurante.
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>