ion-slides, ion-slide {
    width: 100%;
    height: 100%;
}

.chipPerfil{
    height: 55px !important;
    width: 59% !important;
    background-color: #3880ff;
}

.avatarPerfil{
    height: 47px !important;
    width: 24% !important;
    margin-left: 6px !important;
}

.colorBlanco{
    color: white;
}

.fondoCard {
    border: 1px solid black !important;
    border-radius: 21px !important;
    padding-bottom: 16px !important;
    background: white !important;
}