<ion-header *ngIf="vista !== 'driver'">
  <ion-toolbar color="primary">
    <ion-toolbar color="primary">
      <ion-button slot="start" fill="clear" (click)="exit()" color="light">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div class="ion-text-center" *ngIf="vista == 'detalles'">
        <ion-text>
          <h5>
            <span>COORDINACION DE DETALLES</span>
            <ion-label>CON EL CLIENTE:</ion-label>
          </h5>
        </ion-text>
      </div>
    </ion-toolbar>
    <ion-toolbar *ngIf="vista == 'detalles'" color="primary">
      <div class="ion-text-center">
        <p>
          <ion-chip class="chipPerfil">
            <ion-avatar class="avatarPerfil">
              <img
                [src]="paramsData.usuario.foto || './assets/perfil.png'" />
            </ion-avatar>
            <ion-text color="light">
              <h5 colorBlanco>{{ paramsData.usuario.nombre }}</h5>
            </ion-text>
          </ion-chip>
        </p>
      </div>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid *ngIf="vista == 'form'">
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-label class="ion-color-lavel label" position="stacked">¿Qué diligencia haremos? <ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea rows="6" cols="20" placeholder="Danos la mayor cantidad de datos" [(ngModel)]="data.descripcion"></ion-textarea>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <h4>¿Qué lugares visitaremos?</h4>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-label class="ion-color-lavel label" position="stacked">¿Dónde iremos a recoger? <ion-text color="danger">*</ion-text></ion-label>
          <ion-input class="ion-color-lavel" [(ngModel)]="data.origentexto" placeholder="Escribe la dirección con puntos de referencia" required type="text"></ion-input>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-button color="primary" (click)="openMapa('origen', true)">
            Ingresa la ubicación en el mapa
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-label class="ion-color-lavel label" position="stacked">¿Dónde iremos a entregar? <ion-text color="danger">*</ion-text></ion-label>
          <ion-input class="ion-color-lavel" [(ngModel)]="data.destinotext" placeholder="Escribe la dirección con puntos de referencia" required type="text"></ion-input>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-button color="primary" (click)="openMapa('destino', true)">
            Ingresa la ubicación en el mapa
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides *ngIf="vista == 'driver'" [options]="sliderOpts">
    <ion-slide>
      <h2>BUSCANDO UN DRIVE PARA TU ENVIO</h2>
    </ion-slide>
  </ion-slides>

  <div class="fondoCard" *ngIf="vista == 'detalles'">
    <ion-grid *ngIf="vista == 'detalles'">
      <ion-row>
        <ion-col size="12">
          <ion-text color="dark">
            <strong>Mandado:</strong>
          </ion-text>
          <ion-text color="medium">
            <p>{{ paramsData.descripcion }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text color="dark">
            <strong>Dirección donde iremos a recoger: </strong>
          </ion-text>
          <ion-text color="medium">
            <p>{{ paramsData.origentexto }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <div class="ion-text-center">
            <ion-button color="primary" (click)="openMapa('origen_detalle', false)">
              VER UBICACION
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-text color="dark">
            <strong>Dirección donde iremos a entregar: </strong>
          </ion-text>
          <ion-text color="medium">
            <p>{{ paramsData.destinotext }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <div class="ion-text-center">
            <ion-button color="primary" (click)="openMapa('destino_detalle', false)">
              VER UBICACION
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <br><br><br>
          <div class="ion-text-center">
            <ion-button color="primary" (click)="aceptarOrden()" *ngIf="estadoButton == 'normal'"> 
              ACEPTAR Y COORDINAR
            </ion-button>
            <ion-button color="primary" *ngIf="estadoButton == 'ORDEN YA CONFIRMADA POR OTRO DRIVE'" [disabled]="true"> 
              {{ estadoButton }}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-footer *ngIf="vista == 'form'">
  <ion-button expand="full" [disabled]="btnDisabled" color="primary" (click)="submitMandado()">
    <span *ngIf="!data.id">SOLICITAR UN MANDADO</span>
    <span *ngIf="data.id">ACTUALIZAR MANDADO</span>
  </ion-button>
</ion-footer>
