<ion-header>
  <ion-toolbar *ngIf="vista =='home'">
    
    <img class="dimencionFoto" [src]="data.foto" >
    <ion-buttons slot="start" color="primary" class="poster-detalle-sobre">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-button fill="clear" slot="end" color="danger" class="poster-detalle-sobre">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>

  <ion-toolbar *ngIf="vista =='informacion'">
    <ion-button slot="start" fill="clear" (click)="vista = 'home'">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h6>INFORMACIÓN</h6><br>
              <span class="textInformacion">{{ data.titulo }}</span>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="vista =='home'">
  <br>
  <ion-item lines="none">
    <ion-text colo="dark" slot="start" (click)="vista = 'informacion'">
      <h5>{{ data.titulo  }}</h5>
      <span>{{ data.subtipo }} . {{ data.distancia }}</span>
    </ion-text>
    <div slot="end">
      <ion-icon class="fin" (click)="vista = 'informacion'" name="chevron-forward-outline"></ion-icon><br>
      <ion-text color="warning">
        <span>★ {{ data.rango }}</span>
      </ion-text>
    </div>
  </ion-item>
  <ion-item lines="none">
    <br>
    <ion-list>
      <ion-item lines="none">
        <ion-avatar class="logoDomi" slot="start">
          <ion-icon [name]="data.domicilio.icon"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ data.domicilio.titulo }}</h2>
          <p>{{ data.domicilio.precioForma }}</p>
        </ion-label>
        <!-- <ion-button slot="end" fill="clear">
          Cambiar
        </ion-button> -->
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item lines="none">
    <div slot="start">
      <ion-text color="dark">
        <span>
          <ion-icon name="logo-usd"></ion-icon>
          {{ data.ordenMinima }}
        </span>
      </ion-text>
    </div>
    <ion-icon slot="end" name="search-outline"></ion-icon>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of data.listCarta" lines="none" lines="none">
      <ion-list>
        <ion-list-header>
          <ion-text color="primary">
            <h5>{{ item.tipo }}</h5>
          </ion-text>
        </ion-list-header>
        <ion-item *ngFor="let articulo of item.articulos" (click)="openProducto( articulo )">
          <ion-text color="dark">
            <h5 class="titulo">{{ articulo.titulo }}</h5>
            <h6 class="descripcion">{{ articulo.descripcion }}</h6>
            <p *ngIf="!articulo.precioPromo">
              <span class="precio"> {{ articulo.precioForma }}</span>
            </p>
            <p *ngIf="articulo.precioPromo">
              <span class="precio precioFormat"> {{ articulo.precioPromoForma }}</span>
              <span class="precioPromicion precioFormat"> {{ articulo.precioForma }}</span>
            </p>
          </ion-text>
          <div slot="end">
            <img class="img_dimenciones rounded" [src]="articulo.foto">
          </div>
          <!-- <ion-avatar slot="end">
            <img [src]="articulo.foto">
          </ion-avatar> -->
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="vista == 'informacion'">
  <app-detalles [detalle]="data"></app-detalles>
</ion-content>