<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="padding_menu" size="large" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Viajes programados</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable mode="md" color="primary" (ionChange)="cambioView( $event )">
      <ion-segment-button mode="md" [value]="item" *ngFor="let item of listPage">
        <ion-label text-capitalize> {{ item }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list detail class="ion-listNotificacion" *ngIf="listNotificaciones.length > 0">
    <ion-list-header>
      Notificaciones
    </ion-list-header>

    <ion-item *ngFor="let item of listNotificaciones; let idx=index;">
      <ion-avatar slot="start">
        <img [src]="item['usuario'].foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-text *ngIf="item.ofrece" (click)="OpenServicio( item.ordenProgramada )" color="dark">
        <ion-label>
          <p> Conductor {{ item['usuario']?.nombre | slice: 0: 20 }} </p>
          <p> Te LLevo ${{ ( item['ofrece'] || 0 ).toLocaleString(1) }} COP </p>
        </ion-label>
      </ion-text>
      <ion-button slot="end" fill="clear" color="danger" (click)="this.listNotificaciones.splice( idx, 1)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


</ion-header>

<ion-content *ngIf="disableView == 'AGREGAR UN VIAJE'">
  <ion-list>
    <ion-item>
      <div class="ion-text-center">
        <ion-text color="success">
          <h3>INSTRUCCION DE USO</h3>
        </ion-text>
      </div>
    </ion-item>
    <ion-item>
      <ion-label class="ion-color-lavel" position="stacked">Origen <ion-text color="danger">*</ion-text></ion-label>
      <ion-input class="ion-color-lavel" [(ngModel)]="data.origen" required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-color-lavel" position="stacked">Destino <ion-text color="danger">*</ion-text></ion-label>
      <ion-input class="ion-color-lavel" [(ngModel)]="data.destino" required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-color-lavel" position="stacked">Costo <ion-text color="danger">*</ion-text></ion-label>
      <ion-input class="ion-color-lavel" [(ngModel)]="data.costo" required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-color-lavel" position="stacked">Cuando <ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime [(ngModel)]="data.fecha" placeholder="fecha de cuando lo necesitas"></ion-datetime>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="data.hora" placeholder="Hora del servicio"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label class="ion-color-lavel" position="stacked">Descripcion ( detallada ) <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea rows="6" cols="20" [(ngModel)]="data.descripcion" placeholder="Escribir con detalle lo que estas pidiendo..."></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="disableView == 'MIS VIAJES'">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>  
    <ion-item *ngFor="let item of listRow">
      <ion-avatar slot="start">
        <img [src]="item['conductor']?.foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-label (click)="OpenServicio( item )">
        <h2>Origen {{ item.origen }}</h2>
        <h2>Destino {{ item.destino }}</h2>
        <h3>Costo $ {{ ( item['costo'] ||0 ).toLocaleString(1) }} COP</h3>
        <p>{{ item.descripcion }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" color="danger" (click)="borrarViaje( item )">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData( $event )"
                        >
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer *ngIf="disableView == 'AGREGAR UN VIAJE'">
  <ion-toolbar>
    <ion-button color="success" [disabled]="disableBtnCrear" expand="full" (click)="submitViaje()" class="ion-padding ion-text-center">Agregar Viaje Programado</ion-button>
  </ion-toolbar>
</ion-footer>
