<ion-menu side="start" menuId="primerMenu" contentId="principal">
      
  <ion-header translucent>
    <ion-toolbar color="primary" class="paddingHeader">
      <ion-avatar class="perfil" slot="start">
        <img [src]=" data.foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-text color="light" class="paddingTitle">
        <ion-label>{{ data.nombre || 'Visitante' }}</ion-label>
        <!-- <p class="padingCargador" *ngIf="rolUser == 'conductor'"><ion-progress-bar color="warning" [value]="dataUser.nameOperacionCount"></ion-progress-bar></p> -->
        <!-- <p class="padingCargador" *ngIf="rolUser == 'conductor'">{{ dataUser.nameOperacion }}</p> -->
      </ion-text>
      <ion-button slot="end" (click)="openEnd()" fill="clear" color="light">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle *ngFor="let c of dataMenu">
        <ion-item [routerLink]="c.redirectTo">
          <ion-icon color="primary" slot="start" [name]="c.icon"></ion-icon>
          <ion-label>{{ c.name }}</ion-label>
          <ion-badge *ngIf="c.count" color="primary">{{ ( c.count || 0 ) }}</ion-badge>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item [routerLink]="['/perfil']">
          <ion-icon color="primary" slot="start" name="person"></ion-icon>
          <ion-label>
            <h6>Perfil</h6>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="data.id" (click)="cerrar_seccion()">
          <ion-icon color="primary" slot="start" name="walk"></ion-icon>
          <ion-label>
            <h6>Cerrar sesion</h6>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>


    </ion-list>
  </ion-content>
  <ion-toolbar>
    <ion-toolbar>
      <ion-button [disabled]="disableBtn" *ngIf="rolUser == 'usuario'" color="success" expand="full" (click)="cambioRol('conductor')" class="ion-padding ion-text-center">
        <span>MODO CONDUCTOR</span>
      </ion-button>
      <ion-button [disabled]="disableBtn" *ngIf="rolUser == 'conductor'" color="success" expand="full" (click)="cambioRol('usuario')" class="ion-padding ion-text-center">
        <span>MODO PASAJERO</span>
      </ion-button>
    </ion-toolbar>
  </ion-toolbar>
</ion-menu>
