<ion-content>
  <ion-slides [options]="sliderOpts">
    <ion-slide>
      <div class="ion-text-center">
        <!-- <img src="./assets/portada.jpg"> -->
        <h5>LOGO</h5>
        <ion-list lines="none">
          <ion-item>
            <ion-button slot="start" color="success" [routerLink]="['/login']">Iniciar sesión</ion-button>
            <ion-button slot="end" color="success" [routerLink]="['/registro']">registrate</ion-button>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
