.subheader {
    font-size: 11px;
}

.titulo {
    font-size: 10px;
}

.fotoImg{
    width: 100%;
}

.btnClose{
    position: fixed;
    top: 13px;
    //right: 10px;
    left: 10px;
    padding: 5px;
    z-index: 999;
}