.colorPrecio{
    color: green
}

.fotoDetalle{
    max-width: 329px;
    min-width: 325px;
    min-height: 220px;
    max-height: 221px;
}

.fondoButton{
    background: red;
    border-radius: 5px;
}

.fondoPrecio{
    border: 1px solid #ababab;
    border-radius: 10px;
    margin-left: 6px;
}

.fondoText{
    border: 1px solid #9e9e9e;
    border-radius: 10px;
}

.fondoDetalle{
    background: #cecece !important;
    padding: 1px;
    border-radius: 4px;
}