<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="exit()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h6>DETALLES DEL PRODUCTO</h6>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  <img class="fotoDetalle" [src]="data.foto">

  <ion-item lines="none">
    <ion-text color="dark">
      <h5>{{ data.titulo }}</h5>
      <p class="textInformacion">{{ data.descripcion }}</p>
      <p *ngIf="!data.precioPromo" class="colorPrecio ">{{ data.precioForma }} </p>
      <p *ngIf="data.precioPromo" class="colorPrecio ">{{ data.precioPromoForma }} <span class="precioPromicion"> {{ data.precioForma }}</span></p>
    </ion-text><br>
  </ion-item>

  <ion-item lines="none">
    <ion-text color="danger" slot="start">
      <p class="textInformacion">
        <ion-icon name="receipt-outline"></ion-icon>
        {{ data.restaurante.titulo || 'restaurante' }}
      </p>
    </ion-text>
    <p slot="end" class="textInformacion">
      {{ data.tiempo }}
    </p>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of listDetalles" lines="none">
        <div class="fondoDetalle">
          <ion-text color="dark">
            <h4>{{ item.titulo }} *</h4>
          </ion-text>
        </div>
        <ion-list>
          <ion-item lines="none" *ngFor="let row of item.lista">
            <ion-text color="dark" slot="start">
              <span>{{ row.titulo }}</span><br>
              <label *ngIf="row.subtitulo">{{ row.subtitulo }}</label><br>
              <label *ngIf="row.detalle">{{ row.detalle }}</label>
            </ion-text>
            <ion-checkbox slot="end" [(ngModel)]="row.check" (click)="validadorSeleccion( item, row )" color="danger"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label class="ion-color-lavel" position="stacked"><ion-icon name="chatbox-ellipses-outline"></ion-icon>
      Observación 
    </ion-label>
    <ion-textarea class="fondoText" [(ngModel)]="data.observacionPedido"></ion-textarea>
  </ion-item>

</ion-content>  

<ion-footer class="ion-padding">
  <ion-toolbar>
    <div slot="start" class="fondoPrecio">  
      <ion-button fill="clear" color="danger" [disabled]="!data.cantidadAdquirir" (click)="cantidadAus('menos')">
        -
      </ion-button>
      <ion-button fill="clear" color="dark">
        {{ data.cantidadAdquirir || 0 }}
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="cantidadAus('mas')">
        +
      </ion-button>
    </div>
    <div slot="end" class="fondoButton">
      <ion-button fill="clear" color="light" (click)="agregarCarro()">
        <span slot="start">Agregar</span>
      </ion-button>
      <ion-button fill="clear" color="light" (click)="agregarCarro()">
        <span slot="end">{{ ( data.precioTotalForma ) }}</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
