<ion-header class="ionToolbarHeaderChat">
  <ion-toolbar class="ionToolbarHeaderChat">
    <ion-button slot="start" fill="clear" (click)="exit()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h6>DETALLES DEL PRODUCTO</h6>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  <img class="fotoDetalle" [src]="data.foto">

  <ion-item lines="none">
    <ion-text color="dark">
      <h5>{{ data.titulo }}</h5>
      <p class="textInformacion">{{ data.descripcion }}</p>
      <p class="colorPrecio">{{ data.precio }} {{ data.precioAnt }}</p>
    </ion-text><br>
  </ion-item>

  <ion-item lines="none">
    <ion-text color="danger" slot="start">
      <p class="textInformacion">
        <ion-icon name="receipt-outline"></ion-icon>
        {{ data.restaurante.titulo || 'restaurante' }}
      </p>
    </ion-text>
    <p slot="end" class="textInformacion">
      {{ data.tiempo }}
    </p>
  </ion-item>

  <ion-item>
    <ion-label class="ion-color-lavel" position="stacked"><ion-icon name="chatbox-ellipses-outline"></ion-icon>
      Observación 
    </ion-label>
    <ion-textarea [(ngModel)]="data.observacion"></ion-textarea>
  </ion-item>

</ion-content>  

<ion-footer>
  <ion-toolbar>
    <div slot="end" class="fondoButton">
      <ion-button fill="clear" color="light">
        <span slot="start">Agregar</span>
      </ion-button>
      <ion-button fill="clear" color="light">
        <span slot="end">{{ data.precio }}</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
