.colorPrecio{
    color: green
}

.fotoDetalle{
    max-width: 329px;
    min-width: 325px;
    min-height: 220px;
    max-height: 221px;
}

.fondoButton{
    background: red;
    border-radius: 5px;
}