<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="padding_menu" size="large" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Seguridad y protección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="sliderOpts">
    <ion-slide>
      <div class="divPrincipal">
        <br>
        <div class="ion-text-center">
          <img src="./assets/seguridad.png">
        </div>
        <br>
        <br>
        <div class="ion-text-center">
          <h3>Linea de Emergencia</h3>
          Si requieres asistencia de la policia o ambulancia, llama al siguente numero:
          <ion-button color="success" expand="full" class="ion-padding ion-text-center">Llamar 123</ion-button>
          <br>
          <br>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
