<ion-content>
  <ion-slides [options]="sliderOpts">
    <ion-slide>
      <div class="divPrincipal">
        <br>
        <div class="ion-text-center divPrincipal">
          <img src="./assets/registro.jpg">
          <ion-text color="success">
            <h4>Crea tu cuenta</h4>
          </ion-text>
        </div>
        <br>
        <br>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Tipo de Cuenta <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="data.rol">
              <ion-select-option value="usuario">Persona Natural</ion-select-option>
              <ion-select-option value="conductor">Conductor</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Nombre <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-input class="ion-color-lavel" [(ngModel)]="data.nombre" placeholder="Nombre(s)" required type="text">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Apellido <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-input class="ion-color-lavel" [(ngModel)]="data.apellido" placeholder="Apellido(s)" required
              type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Cedula <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-input class="ion-color-lavel" [(ngModel)]="data.cedula" placeholder="Documento" required type="text">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Indicativo <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-select interface="popover" [(ngModel)]="data.indicativo">
              <ion-select-option [value]="item.phone_code" *ngFor="let item of listIndicativos">{{ item.nombre }}
                +{{ item.phone_code }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Celular <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-input class="ion-color-lavel" [(ngModel)]="data.celular" placeholder="Telefono Celular" required
              type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Correo Electronico <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-input class="ion-color-lavel" [(ngModel)]="data.email" placeholder="Correo electrónicos" required
              type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Contraseña <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-input class="ion-color-lavel" [(ngModel)]="data.password" placeholder="Contraseña"
              required type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="ion-color-lavel" position="stacked">Confirmar Contraseña <ion-text color="danger">*
              </ion-text>
            </ion-label>
            <ion-input class="ion-color-lavel" [(ngModel)]="data.confirpassword" placeholder="Confirmar contraseña"
              required type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-checkbox checked="true" class="checkbook"></ion-checkbox> <span class="footer" (click)="openPoliticas()"> He leido y acepto los
              terminos de condiciones</span>
          </ion-item>
          <ion-item>
            <div class="ion-text-center">
              <ion-button expand="full" color="success" (click)="iniciar()">
                Crea tu cuenta
              </ion-button>
            </div>
          </ion-item>
          <ion-item>
            <ion-text color="primary" class="footer">
              <p>¿Tienes un problema con el registro? Contáctenos viá Whatsapp</p>
            </ion-text>
          </ion-item>
          <ion-item>
            <div class="ion-text-center">
              <ion-text color="primary">
                <p>Ya tengo una cuenta</p>
              </ion-text>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>