/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

@import "~ionic4-auto-complete/auto-complete";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//@import '~material-design-icons/iconfont/material-icons.css';
.logo {
    height: 90px !important;
}
ion-content{
  --background: rgba(41,184,229,1) !important;
  --background: -moz-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 1%, rgba(176,234,255,1) 61%, rgba(176,234,255,1) 100%) !important;
  --background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,184,229,1)), color-stop(1%, rgba(41,184,229,1)), color-stop(61%, rgba(176,234,255,1)), color-stop(100%, rgba(176,234,255,1))) !important;
  --background: -webkit-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 1%, rgba(176,234,255,1) 61%, rgba(176,234,255,1) 100%) !important;
  --background: -o-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 1%, rgba(176,234,255,1) 61%, rgba(176,234,255,1) 100%) !important;
  --background: -ms-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 1%, rgba(176,234,255,1) 61%, rgba(176,234,255,1) 100%) !important;
  --background: linear-gradient(to bottom, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 1%, rgba(176,234,255,1) 61%, rgba(176,234,255,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#b0eaff', GradientType=0 )
}

.ionFooter {
  background: #5ac6f5 !important;
}

.ionButton {
  --background: #36a6d9 !important;
}

.ionToolbar {
  --background: #35bce7 !important;
}

.ionToolbarHeader {
  --background: #29b8e5 !important;
}
.ionToolbarHeaderChat{
  --background: #0b354b !important;
  --color: white  !important;
}
.ionColorInput {
  background: white !important;
  border-radius: 6px !important;
}

.ionToolbarGris {
  --background: #c2c1c1;
}

ion-list{
  border-radius: 12px !important;
}

.ion-chipsHeader{
  background: #0b354b !important;
  color: white !important;
}

.ionToolbarFooter {
  --background: #5ac6f5 !important;
}

.itemDivider {
    padding: 0 !important;
    margin: 0 !important;
}
.textSegtman {
  font-size: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#map {
  width: 100%;
  height: 500px;
}

.label {
  font-size: 24px;
}

.inputColor {
  background: #e0e0e0 !important;
  border: 1px solid #717171 !important;
  border-radius: 9px !important;
}

.colorPrecio{
  color: green;
}

.my-custom-modal-css {
  --background: var(--ion-overlay-background-color,var(--ion-background-color,#fff)) !important;
  --max-width: 382px !important;
  padding-top: 226px !important;
  --backdrop-opacity: var(--ion-backdrop-opacity,0.32) !important;
  font-size: 14px !important;
  padding-bottom: 392px !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-height: 420px) {
  .my-custom-modal-css {
    --background: var(--ion-overlay-background-color,var(--ion-background-color,#fff)) !important;
    --max-width: 382px !important;
    padding-top: 226px !important;
    --backdrop-opacity: var(--ion-backdrop-opacity,0.32) !important;
    font-size: 14px !important;
    padding-bottom: 150px !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-height: 320px) {
  .my-custom-modal-css {
    --background: var(--ion-overlay-background-color,var(--ion-background-color,#fff)) !important;
    --max-width: 382px !important;
    padding-top: 226px !important;
    --backdrop-opacity: var(--ion-backdrop-opacity,0.32) !important;
    font-size: 14px !important;
    padding-bottom: 150px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-height: 600px) {
  .my-custom-modal-css {
    --background: var(--ion-overlay-background-color,var(--ion-background-color,#fff)) !important;
    --max-width: 382px !important;
    padding-top: 226px !important;
    --backdrop-opacity: var(--ion-backdrop-opacity,0.32) !important;
    font-size: 14px !important;
    padding-bottom: 203px !important;
  }
}

@media only screen and (min-height: 700px) {
  .my-custom-modal-css {
    --background: var(--ion-overlay-background-color,var(--ion-background-color,#fff)) !important;
    --max-width: 382px !important;
    padding-top: 226px !important;
    --backdrop-opacity: var(--ion-backdrop-opacity,0.32) !important;
    font-size: 14px !important;
    padding-bottom: 292px !important;
  }
}

@media only screen and (min-height: 800px) {
  .my-custom-modal-css {
    --background: var(--ion-overlay-background-color,var(--ion-background-color,#fff)) !important;
    --max-width: 382px !important;
    padding-top: 226px !important;
    --backdrop-opacity: var(--ion-backdrop-opacity,0.32) !important;
    font-size: 14px !important;
    padding-bottom: 392px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-height: 992px) {
  .my-custom-modal-css {
    --background: var(--ion-overlay-background-color,var(--ion-background-color,#fff)) !important;
    --max-width: 382px !important;
    padding-top: 226px !important;
    --backdrop-opacity: var(--ion-backdrop-opacity,0.32) !important;
    font-size: 14px !important;
    padding-bottom: 395px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-height: 1200px) {

}

@media only screen and (max-width: 600px) {
  .textInf {
    font-size: 15px;
  }
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 420px) {
  .textInf {
    font-size: 15px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .textInf {
    font-size: 15px;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .textInf {
    font-size: 15px;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .textInf {
    font-size: 16px;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .textInf {
    font-size: 17px;
  }
  
}

