<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="padding_menu" size="large" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Mis viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen> 

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item *ngFor="let item of listRow">
      <ion-avatar slot="start">
        <img [src]="item['conductor']?.foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-label>
        <h2>Destino {{ item.titulo }}</h2>
        <h3>{{ ( item['idOfertando']?.ofrece ||0 ).toLocaleString(1) }} COP</h3>
        <p>{{ item.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData( $event )"
                        >
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
